* {
  /* good practice to put on all elements */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* global font size */
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  font-size: 1rem;
  background-color: white;
  color: black;
}

nav {
  height: 100%;
}

ul,
li,
a {
  height: 100%;
  display: inline;
  font-size: 2rem;
}

h1,
h2 {
  font-size: 2rem;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

header,
footer {
  height: 10vh;
  width: 100%;
  line-height: 20px;
  background-color: green;
}

header {
  position: fixed;
  top: 0;
}

footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  color: white;
}

img {
  display: block;
  margin: auto;
}

form {
  /* quick center */
  margin: 0 auto;
  width: 50vw;
  padding: 10px;
  border: 5px solid black;
}

label,
input {
  margin: 10px auto;
  display: block;
  width: 100px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #4f4846;
  color: white;
}

.textCenter {
  text-align: center;
}

.alignTextRight {
  text-align: right;
}
